# Ignore these files anywhere in the tree
*.[aox]
*.so
*.mod
*.pyc
*.v3breakpoints
*.sw[a-p]
*.sublime-workspace
*~

# Ignore the contents of these directories
ecbuild/
jedicmake/
eckit/
fckit/
atlas/
saber/
oops/
crtm/
ioda/
ufo/
magic/

build*/
install*/
test*/
